<%-include('header') -%>
<div class="text-center pt-5 ">
    <div class="container col-md-3 col-12 py-5 border welcome-box ">
        <div class="title">
            <h2 class="font-weight-bold">Welcome!!!</h2>
            <h5><%= locals.user?user:"users" %></h5>
          

            <a href="/route/logout" class="logout-btn">Logout</a>
        </div>
        <div>
            <p></p>
        </div>
        
    </div>
</div>
<%-include('header') -%>
