<%-include('header') -%>

<div class="text-center pt-5 ">
    <div class="container col-md-3 col-12 py-5 border log-box">
        <div class="title">
            <h2 class="font-weight-bold">Login System</h2>
            <span>login to continue</span>
           
        </div>
        <form action="/route/login" method="POST">
            <div class="form-group py-4">
                <input type="email" class="form-control" placeholder="email" name="email">
                <span></span>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="password" name="password">
                <span></span>
            </div>
            <button type="submit" class="btn  m-5 submit-btn">Submit</button>
        </form>
        <% if(locals.message){ %>
            <h5 class="text-dark font-weight-bold ">
                
                <%= message%>
            </h5>
            <% }%>
    </div>
</div>
    
<%-include('header') -%>
